page-tutor-profile-information {
  .update-camera {
    position: relative;
    bottom: 110px;
    left: 210px;
    color: #FFF;
    background-color: #863e3e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}
.modal-icons1 {
  font-size: 60px !important;
  color: #FFF;
  padding: 40px;
}
.update1 {
  width: 85px;
  height: 85px;
  background-color: #494252;
  border-radius: 50%;
  margin-left: 5px;
}
.file_type {
  position: relative;
  left: 25px;
}
