page-question-answer {
  ion-list {
    &.list {
      margin: 0;
    }
  }
  img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
  }
  img.profile-pic.left {
    left: 10px;
    margin-left: -60px;
    bottom: -9px;
  }
  img.profile-pic.right {
    right: 10px;
    margin-right: -60px;
    bottom: 0px;
  }
  .message {
    font-size: 14px;
    word-wrap: break-word;
    white-space: normal;
  }
  .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
    .message-detail {
      text-align: right;
    }
  }
  .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }
  .chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 45px;
  }
  .chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
  }
  .chat-bubble.right {
    background-color: #e27d7f;
    color: #fff;
    float: right;
    margin-right: 45px;
  }
  .chat-bubble.right:before {
    background-color: #e27d7f;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
  }
  .chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
  }

  .item-inner {
    margin-top: -10px;
  }
  span.time {
    position: relative;
    font-size: 11px;
  }
  ion-spinner {
    position: relative;
    top: 13px;
  }
  .chat_profile_header {
    padding-left: 0px;
    position: relative;
  }
  .chatBubble {
    width: 100%;
  }
  .que-profile-pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
  }
  .question_div {
    margin-bottom: -50px !important;
    padding: 5px;
    h4 {
      color: #222a56;
      position: relative;
      top: -32px;
      left: 43px;
    }
    button {
      position: relative;

      color: #5d5e79;
      top: -10px;
      h5 {
        position: relative;
        top: 2px;
        padding-left: 10px;
      }
    }
    .grid {
      position: relative;
      padding-bottom: -25px;
      top: -30px;
      left: 16px;
    }
    .conversation_div {
      .content {
        height: 300px;
      }
      position: relative;

      border: 1px solid #d6d0d0;
      background-color: #5d5e79;
      top: -50px;
    }
  }

  ion-card.card {
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  }

  left {
    float: left;
  }
  right {
    float: right;
  }

  ion-toolbar.search_div {
    // top: -60px;
  }
  .add_question_fab {
    bottom: 20px;
  }
  .search_bar {
    min-height: 0px;
  }
}
