page-change-password {
    ion-list {
        &.list {
            .item-input {
                &:last-child {
                    border: none;
                }

                &.input-has-focus {
                    &:last-child {
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}