<ion-header no-border>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon class="tuts-list"></ion-icon>
        </button>
        <ion-title> {{'chang_pass.title'| translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="(changePasswordForm.valid && submitted) && changePassword()">
       <ion-list form-list>  
        <ion-item>
            <ion-icon item-left class="tuts-padlock"></ion-icon>
            <ion-input type="password" placeholder="{{'chang_pass.current_pass'| translate}}" formControlName="currentPassword" [(ngModel)]="data.current_password"></ion-input>
            <ion-icon class="validation-icon" *ngIf="!changePasswordForm.controls.currentPassword.pristine || submitted" 
            [name]="(!changePasswordForm.controls.currentPassword.valid && (changePasswordForm.controls.currentPassword.dirty || submitted)) ? 'warning' : 'done-all'" 
            [color]="(!changePasswordForm.controls.currentPassword.valid && (changePasswordForm.controls.currentPassword.dirty || submitted)) ? 'danger' : 'valid'"
            item-right></ion-icon>
        </ion-item>
        <ion-item>
            <ion-icon item-left class="tuts-padlock"></ion-icon>
            <ion-input type="password" placeholder=" {{'chang_pass.new_pass'| translate}}" formControlName="password" [(ngModel)]="data.new_password"></ion-input>
            <ion-icon class="validation-icon" *ngIf="!changePasswordForm.controls.password.pristine || submitted" 
            [name]="(!changePasswordForm.controls.password.valid && (changePasswordForm.controls.password.dirty || submitted)) ? 'warning' : 'done-all'" 
            [color]="(!changePasswordForm.controls.password.valid && (changePasswordForm.controls.password.dirty || submitted)) ? 'danger' : 'valid'"
            item-right></ion-icon>
        </ion-item>
        <ion-item>
            <ion-icon item-left class="tuts-padlock"></ion-icon>
            <ion-input type="password" placeholder="{{'chang_pass.confirm_pass'| translate}}" formControlName="newConfirmPassword" [(ngModel)]="data.new_confirm_password"></ion-input>
            <ion-icon class="validation-icon" *ngIf="!changePasswordForm.controls.newConfirmPassword.pristine || submitted" 
            [name]="(!changePasswordForm.controls.newConfirmPassword.valid && (changePasswordForm.controls.newConfirmPassword.dirty || submitted)) ? 'warning' : 'done-all'" 
            [color]="(!changePasswordForm.controls.newConfirmPassword.valid && (changePasswordForm.controls.newConfirmPassword.dirty || submitted)) ? 'danger' : 'valid'"
            item-right></ion-icon>
        </ion-item>
    </ion-list>
    <button ion-button block round color="primary" type="submit" (click)="submitted=true"> {{'chang_pass.Submit'| translate}}</button>
</form>
</ion-content>
