page-blog {
	.blog_author{
		
		
	}
	span.date_span {
    	font-size: 0.8em;
	}
	.item-md ion-avatar[item-start] {
		margin:4px 4px 4px -15px;
	}
	.blog_description{
		position: relative;
		max-height: 100px;
    	margin-bottom: 11px;
	}
	.blog_image{
		max-height:200px;
	}
	ion-card.card {
        background-color: #fff;
        border-radius: 0px;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
        padding:5px;
    }
    .card-title {
    	display: block;
    	font-size: 2.4rem;
    	line-height: 1.2;
    	color: #222;
     	margin: 0px 0; 
     	padding: 0px 0; 
	}	
}
