page-find-tutor {
    .rating-experience{
		>div{ 
			display: inline-block;
			font-size: $fs_small;
			color: $dark_c;
			&.star{
				color: $warning_c;
			}
			&+div{margin-left:1em;}
		}
	}
	.menu-toggle-icon {
		display: block !important;
	}
}
