<ion-header no-border>

    <ion-navbar color="primary">
        <button ion-button menuToggle class="menu-toggle-icon">
            <ion-icon class="tuts-list"></ion-icon>
        </button>
        <ion-title>{{'find_tutor.title'|translate}}</ion-title>
        
        <ion-buttons end>               
            <button ion-button icon-only (click)="openFilterTutors()">
                <ion-icon name="funnel"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar color="primary">
        <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
    </ion-toolbar>

</ion-header>


<ion-content>

    <ion-item *ngFor="let tutor of tutors | filter: searchText">
        <ion-thumbnail item-left>
            <img *ngIf="tutor.photo!=''" src="{{serviceName.profileImages}}{{tutor.photo}}">
            <img *ngIf="tutor.photo==''" src="{{serviceName.defaultImage}}">
            <div [class]="tutor.availability_status==1?'status:online':'status:offline'"></div>
        </ion-thumbnail>


        <ion-icon [name]="(tutor.fav_id>0) ? 'heart':'heart-outline'" color="danger" item-right (click)="favTutor(tutor)"></ion-icon>


        <div (click)="openTutorProfile(tutor)">
            <h2>{{tutor.username}} </h2>
            <p>{{'find_tutor.demo'|translate}} : {{tutor.free_demo}}</p>
            <p>{{'find_tutor.exprience'|translate}}{{tutor.teaching_experience}} {{tutor.duration_of_experience}}</p>
            <p>{{'find_tutor.qualification'|translate}}{{tutor.qualification}}</p>
        </div>

    </ion-item>
    <p padding *ngIf="tutors.length==0">{{'find_tutor.tutors'|translate}}</p>
    <ion-infinite-scroll *ngIf="showLoadMore==true" (ionInfinite)="getTutors($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>