<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon class="tuts-list"></ion-icon>
    </button>
    <ion-title>{{'contact_details.title'| translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="contactForm" novalidate (ngSubmit)="(contactForm.valid && submitted) && updateContactInfo()">
    <ion-list contact-list>
      <ion-item>
        <ion-label floating>{{'contact_details.city'| translate}}</ion-label>
        <ion-input type="text" formControlName="city" [(ngModel)]="userData.city"></ion-input>
        <ion-icon class="validation-service" *ngIf="!contactForm.controls.city.pristine || submitted"
        [name]="(!contactForm.controls.city.valid && (contactForm.controls.city.dirty || submitted)) ? 'warning':'done-all'"
        [color]="(!contactForm.controls.city.valid && (contactForm.controls.city.dirty || submitted)) ? 'danger':'valid'"
        item-right>
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>{{'contact_details.landmark'| translate}}</ion-label>
      <ion-input type="text" formControlName="landMark" [(ngModel)]="userData.land_mark"></ion-input>
      <ion-icon class="validation-service" *ngIf="!contactForm.controls.landMark.pristine || submitted"
      [name]="(!contactForm.controls.landMark.valid && (contactForm.controls.landMark.dirty || submitted)) ? 'warning':'done-all'"
      [color]="(!contactForm.controls.landMark.valid && (contactForm.controls.landMark.dirty || submitted)) ? 'danger':'valid'"
      item-right>
    </ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>{{'contact_details.country'| translate}}</ion-label>
    <ion-select formControlName="country" [(ngModel)]="userData.country">
      <ion-option *ngFor="let country of countries">{{country.nicename}}</ion-option>
    </ion-select>
    <ion-icon class="validation-service" *ngIf="!contactForm.controls.country.pristine || submitted"
    [name]="(!contactForm.controls.country.valid && (contactForm.controls.country.dirty || submitted)) ? 'warning':'done-all'"
    [color]="(!contactForm.controls.country.valid && (contactForm.controls.country.dirty || submitted)) ? 'danger':'valid'"
    item-right>
  </ion-icon>
  </ion-item>
  <ion-item>
    <ion-label floating>{{'contact_details.pin'| translate}}</ion-label>
    <ion-input type="text" formControlName="pinCode" [(ngModel)]="userData.pin_code"></ion-input>
    <ion-icon class="validation-service" *ngIf="!contactForm.controls.pinCode.pristine || submitted"
    [name]="(!contactForm.controls.pinCode.valid && (contactForm.controls.pinCode.dirty || submitted)) ? 'warning':'done-all'"
    [color]="(!contactForm.controls.pinCode.valid && (contactForm.controls.pinCode.dirty || submitted)) ? 'danger':'valid'"
    item-right>
  </ion-icon>
  </ion-item>
  <ion-item>
    <ion-label floating>{{'contact_details.phone'| translate}}</ion-label>
    <ion-input type="text" formControlName="phone" [(ngModel)]="userData.phone"></ion-input>
    <ion-icon class="validation-service" *ngIf="!contactForm.controls.phone.pristine || submitted"
    [name]="(!contactForm.controls.phone.valid && (contactForm.controls.phone.dirty || submitted)) ? 'warning':'done-all'"
    [color]="(!contactForm.controls.phone.valid && (contactForm.controls.phone.dirty || submitted)) ? 'danger':'valid'"
    item-right>
  </ion-icon>
  </ion-item>
  <ion-list-header>{{'contact_details.classes'| translate}}</ion-list-header>
  <ion-item>
    <ion-label>{{'contact_details.academic'| translate}}</ion-label>
    <ion-checkbox formControlName="academicClass" [(ngModel)]="userData.academic_class"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>{{'contact_details.no_academic'| translate}}</ion-label>
    <ion-checkbox formControlName="nonAcademicClass" [(ngModel)]="userData.non_academic_class"></ion-checkbox>
  </ion-item>
  </ion-list>
  <button ion-button block round color="danger" type="submit" (click)="submitted=true">{{'contact_details.submit'| translate}} </button>
  </form>
</ion-content>
