<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'stu_question-answer.title'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let question of question_members" (click)="openConversationPage(question)">
    <div class="question_div">
      <img class="que-profile-pic" [src]="question.imageFullUrl" />
      <h3 text-wrap color="primary"> {{question.question_text}}</h3>
      <h4>{{question.name}},{{question.username}} </h4>
    </div>
  </ion-card>
  <p padding *ngIf="question_members.length==0">{{'stu_question-answer.available'|translate}}</p>
  <ion-infinite-scroll *ngIf="showLoadMore==true" (ionInfinite)="getQuestionStudentsList($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
